extends layout

block content
    h1 Here's a list of all available jokes in the system:
    p 
        | But first, here's a link back to the 
        a(href='/jokeApp') Main Page
        | .
    ul
        each joke in jokes
            li= joke