extends layout

block content

    //- script(src="../cookie_config.js" type="text/javascript")
    //- script(src="../wel/cookie-consent/consent.js" type="text/javascript")

    h1 Login
    form(name="login-form", method="post")
        div.input
            span.label Username:
            input(type="text", name="userName", placeholder="username")
        div.actions
            input(type="submit", value="add")